table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
    color: rgb(126, 126, 126);
}

table th, 
table td{
    text-align: center;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #a7a7a7;
}
td,th {
    display: table-cell;
}
th {
    background-color: rgb(58, 28, 56);
    color: #fff;
}